body{
    background-color: green;
    display: flex;
    justify-content: center;
    
}

main{
    background-color: bisque;
    border-radius: 20px;
    border: 2px solid black;
    width: 500px;
    height: 700px;
}

.boc{
    background-color: blue;
    width: auto;
    
}